//color
$dark: #33313b;
$lightBlue: #4592af;
$pastelPink: #e3c4a8;
$gray: #f6f5f5;

//breakpoints
$xlarge : 'xlarge-size';
$large : 'large-size';
$medium: 'medium-size';
$small: 'small-size';


//




