.container{
    display: grid;
    height: 100vh;
    margin-left:3rem;
    margin-right: 3rem;
    grid-gap: 1rem;
    width: 100%;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    grid-template-areas:
        "navmenu navmenu"
        "cardNews sideNews"
        "cardNews sideNews"
        "newsletter newsletter"
        "sign sign"
}

.container__menu{
    @include flexContainer;
    grid-area: navmenu;
}

.container__news{
    .news__main-space{
        grid-area: cardNews;
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
    }
    .news__left-space{
        grid-area: sideNews;
    }
}

.container__newsletter{
    @include flexContainer;
    grid-area: newsletter;
}

.container__footer{
    grid-area: sign;
}