.container{
    display: grid;
    height: 100%;
    margin-left:3rem;
    margin-right: 3rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 2fr 2fr 1fr 1fr;
    grid-template-areas:
        "navmenu navmenu navmenu navmenu"
        "cardNews cardNews cardNews sideNews"
        "cardNews cardNews cardNews sideNews"
        "newsletter newsletter newsletter newsletter"
        "sign sign sign sign";
}

.container__menu{
    @include flexContainer;
    grid-area: navmenu;
}

    .news__main-space{
        grid-area: cardNews;
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
    }
    .news__left-space{
        grid-area: sideNews;
        width: 100%;
    }

.container__newsletter{
    @include flexContainer;
    grid-area: newsletter;
}

.container__footer{
    grid-area: sign;
    grid-row: 4/ 5;
}