.container__newsletter{
    background-color: $gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-bottom: 1rem;
    .group{
        
    }
}